extends layout

block content
    .chatwrapper
        .chatwindow
            .chatheader
            .chatmessages
                .chatbubble
                    p Some Text
                .chatbubble
                    p A reply!
                .chatbubble
                    p Some Text
                .chatbubble
                    p A reply!
                .chatbubble
                    p Some Text
                .chatbubble
                    p A reply!
                .chatbubble
                    p Some Text
                .chatbubble
                    p A reply!
                .chatbubble
                    p Some Text
                .chatbubble
                    p A reply! That is longer than you were expecting! By some way I suppose.
            .chatinput
        .chatusers
