doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='js/jquery.min.js')
    meta(name='viewport', content='width=device-width, user-scalable=yes')
  body
    block content
