html,
body {
  background: #7bc4ef;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  width: 100%;
}
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.chatwrapper {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  margin: auto;
  max-height: 1000px;
  min-height: 500px;
  padding: 10px;
  width: 750px;
}
.chatwindow {
  box-shadow: 0 0 25px #2c879f;
  display: flex;
  flex: 3 0px;
  flex-flow: column;
  height: 100%;
  order: 1;
}
.chatheader {
  background: #f0f8ff;
  border-bottom: 1px solid #fff;
  border-radius: 5px 0 0 0;
  display: inline-block;
  height: 50px;
  z-index: 10;
}
.chatheader .chatuser .username {
  color: #a9a9a9;
}
.chatmessages {
  background: #f0f8ff;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  display: block;
  height: 100%;
  min-width: 300px;
  overflow: scroll;
  padding: 10px;
  position: relative;
  z-index: 10;
}
.chatinput {
  background: #f0f8ff;
  border-top: 1px solid #fff;
  border-radius: 0 0 0 5px;
  height: 100px;
  padding: 10px;
  position: relative;
  z-index: 10;
}
.chatusers {
  background: #555;
  border-left: none;
  border-radius: 0 5px 5px 0;
  box-shadow: 0 0 20px #2c879f;
  display: flex;
  flex: 1;
  order: 2;
  overflow-x: hidden;
  overflow-y: scroll;
}
.userslist {
  display: inline-block;
  height: 100%;
  width: 100%;
}
.chatuser {
  display: inline-block;
  padding: 10px;
  white-space: nowrap;
  width: 100%;
}
.chatuser .useravatar {
  border: 3px solid #d3d3d3;
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  float: left;
  overflow: hidden;
  width: 30px;
}
.chatuser .useravatar img {
  width: 100%;
  height: 100%;
}
.chatuser .username {
  color: #fff;
  display: inline-block;
  margin-left: 5px;
  margin-top: 3px;
  padding: 5px;
}
.chatmessage {
  display: inline-block;
  margin-top: 10px;
  width: 100%;
}
.chattimestamp {
  color: #808080;
  float: left;
}
.chatname {
  float: left;
  font-weight: bold;
  margin: 0 10px;
}
.chatbubble {
  background: #7cc7ef;
  border-radius: 5px;
  clear: both;
  color: #fff;
  float: left;
  margin: 20px 10px 10px 10px;
  max-width: 75%;
  padding: 15px;
  position: relative;
}
.chatbubble:before {
  border-bottom: 12px solid #7cc7ef;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  content: '';
  left: 10px;
  position: absolute;
  top: -12px;
}
.mymessage .chattimestamp {
  float: right;
}
.mymessage .chatname {
  float: right;
}
.mymessage .chatbubble {
  background: #8fbc8f;
  float: right;
}
.mymessage .chatbubble:before {
  border-bottom: 12px solid #8fbc8f;
  left: auto;
  right: 10px;
}
#inputtext {
  border-radius: 5px;
  font-size: 14px;
  outline: none;
  padding: 15px;
  resize: none;
  width: calc(100% - 75px);
}
.chatsend {
  background: #6495ed;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-left: 15px;
  margin-top: 20px;
  padding: 8px;
  position: absolute;
  text-align: center;
}
@media all and (max-width: 600px) {
  .chatusers {
    flex: 0 1 50px;
    position: relative;
  }
}
